ion-content ion-toolbar {
  --background: translucent;
}

.icon_thumbs > svg {
  height: 100px !important;
}

.noticia_ellipsis {
  font-size: 14px;
}

.thumbs {
  width: 25px;
  margin: 0px 5px;
}

.contenedor_noticia {
  height: 32px;
}
