.no_cuenta {
  background: white;
  margin: 10px 0px;
  /* padding: 5px 5px 5px 2px; */
  width: 100%;
  display: block;
  padding: 5px 0px;
}

.logo {
  width: 55%;
  margin: 0 auto;
}

ion-label {
  font-size: 14px !important;
}

ion-button {
  font-size: 18px !important;
  height: 60px;
}
