.no_cuenta {
  background: white;
  margin: 10px 0px;
  /* padding: 5px 5px 5px 2px; */
  width: 100%;
  display: block;
  padding: 5px 0px;
}

.logo {
  width: 55%;
  margin: 0 auto;
}

ion-label {
  font-size: 14px !important;
}

ion-button {
  font-size: 18px !important;
  height: 60px;
}

.slide_container {
  height: 100vh;
  width: 100vw;
  background: white;
  position: fixed;
  top: 0px;
  left: 0px;
  transform: translate(0, -100%);
  transition: all 0.5s ease-in-out;
  z-index: 99;
}

.slide_animation_origen {
  transform: translate(0, 0%);
}
