<ion-tabs>
  <ion-tab-bar
    slot="bottom"
    color="light
  "
  >
    <ion-tab-button tab="noticias">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="politicos">
      <ion-icon name="people"></ion-icon>
      <ion-label>Políticos</ion-label>
    </ion-tab-button>

    <!--<ion-tab-button tab="leyes" disabled="true">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Leyes</ion-label>
    </ion-tab-button>-->
  </ion-tab-bar>
</ion-tabs>
